In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train = pd.read_csv('../input/train.csv', index_col='ID')
test = pd.read_csv('../input/test.csv', index_col='ID')

In [3]:
cols_with_onlyone_val = train.columns[train.nunique() == 1]
train.drop(cols_with_onlyone_val.values, axis=1, inplace=True)
test.drop(cols_with_onlyone_val.values, axis=1, inplace=True)
train = train.astype(np.int)
test = test.astype(np.int)

In [4]:
colsToRemove = []
columns = train.columns
for i in range(len(columns)-1):
    v = train[columns[i]].values
    dupCols = []
    for j in range(i + 1,len(columns)):
        if np.array_equal(v, train[columns[j]].values):
            colsToRemove.append(columns[j])
train.drop(colsToRemove, axis=1, inplace=True)
test.drop(colsToRemove, axis=1, inplace=True)

In [5]:
len(colsToRemove)

6

In [6]:
train.to_csv('../input/train_clean.csv')

In [7]:
test.to_csv('../input/test_clean.csv')

In [8]:
train.head()

,target,48df886f9,0deb4b6a8,34b15f335,a8cb14b00,2f0771a37,30347e683,d08d1fbe3,6ee66e115,20aa07010,...,3ecc09859,9281abeea,8675bec0b,3a13ed79a,f677d4d13,71b203550,137efaa80,fb36b89d9,7e293fbaf,9fc776466
ID,,,,,,,,,,,,,,,,,,,,,
000d6aaf2,38000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
000fbd867,600000,0,0,0,0,0,0,0,0,2200000,...,0,0,0,0,0,0,0,0,0,0
0027d6b71,10000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0028cbf45,2000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
002a68644,14400000,0,0,0,0,0,0,0,0,2000000,...,0,0,0,0,0,0,0,0,0,0